extend ../../views/layout

block content	
	.row
		.col-xs-6.col-md-3
			.thumbnail
				img(data-src="holder.js/100%x180/industrial/text:Foto Currículum", alt="imagen")
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum debitis fugiat aliquid, cumque, error doloribus libero deleniti dolore veritatis, atque sunt inventore officia temporibus quia sit tempora at minus pariatur.
		p Atque, ex, aperiam. Temporibus consequuntur blanditiis dolorum veniam quae, numquam optio eaque! Animi ipsum cum incidunt sunt ipsa et sit blanditiis illum sint dignissimos impedit, voluptatibus perferendis quisquam maiores, hic.
		p Facilis ratione exercitationem, corporis quam dicta doloribus ipsam alias eligendi repudiandae blanditiis ut, cupiditate quis nisi tempore, molestias. Ea, quae nobis. Dolorem officiis natus nemo adipisci temporibus obcaecati nesciunt numquam!
		p Nam, incidunt itaque fugit obcaecati necessitatibus fugiat, voluptas unde? Dolore ut odio id labore, aspernatur earum quis excepturi officia, consectetur facere doloremque dolores non quia unde accusamus autem nam. Sint!
		br
		h3 Estudios en el exterior
		ul.generic-list
			li.item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quibusdam.
			li.item Mollitia, ab delectus nemo aspernatur beatae perspiciatis, nam ullam hic?
			li.item Itaque omnis modi asperiores delectus qui ipsa eius quidem aliquam.
			li.item Beatae quas in optio quae ducimus, voluptatum! Illum, officia, soluta!
		hr
		h3 Postgrados
		ul.generic-list
			li.item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quibusdam.
			li.item Mollitia, ab delectus nemo aspernatur beatae perspiciatis, nam ullam hic?
			li.item Itaque omnis modi asperiores delectus qui ipsa eius quidem aliquam.
			li.item Beatae quas in optio quae ducimus, voluptatum! Illum, officia, soluta!