extend ../../views/layout

block content	
	.text-center
		h1 Arquitecto Ignacio Puente
		p.lead Bienvenido a mi página donde podrás ver mis distintos trabajos.<br> También podrás encontrar información sobre los premios que gané, contactarte conmigo y mucho más.