extend ../../views/layout

block content	
	.intro-header-inicio
		.container
			.row
				.col-lg-12
					.intro-message-inicio
						#coolContainer
							h1.h-inicio
								span.spanGray.coolName1 ARQUITECTO
								span.spanWhite.coolName1 IGNACIOPUENTE | Design
						hr.divider-inicio
						ul.list-inline.intro-social-buttons-inicio.liMenu
							li
								a.coolLink(href='/menu')
									span Saltar intro

	script(src='javascripts/bootstrap.min.js')
	script(src='javascripts/TweenMax.min.js')
	script(src='javascripts/cooltext.animations.js')
	script(src='javascripts/cooltext.min.js')
	script(src='javascripts/scripts/textAnimation.js')
	