extend ../../views/layout

block content
	.row
		h3 En Construcción
		br
		.col-xs-6.col-md-3
			.thumbnail
				img(data-src="holder.js/100%x180", alt="imagen")
				.caption
					<strong>Proyecto 1</strong><br>
					|Viña Del Mar
		.col-xs-6.col-md-3
			.thumbnail
				img(data-src="holder.js/100%x180", alt="imagen")
				.caption
					<strong>Proyecto 2</strong><br>
					|Caballito
		.col-xs-6.col-md-3
			.thumbnail
				img(data-src="holder.js/100%x180", alt="imagen")
				.caption
					<strong>Proyecto 3</strong><br>
					|San Pedro
		.col-xs-6.col-md-3
			.thumbnail
				img(data-src="holder.js/100%x180", alt="imagen")
				.caption
					<strong>Proyecto 4</strong><br>
					|Dolores
	hr
	.row
		h3 Terminados
		br
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/sky", alt="imagen")
				.caption
					<strong>Proyecto 5</strong><br>
					|Ranelagh
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/vine", alt="imagen")
				.caption
					<strong>Proyecto 6</strong><br>
					|Recoleta
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/lava", alt="imagen")
				.caption
					<strong>Proyecto 7</strong><br>
					|Rosario
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/industrial", alt="imagen")
				.caption
					<strong>Proyecto 8</strong><br>
					|Mar Del Plata
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/lava", alt="imagen")
				.caption
					<strong>Proyecto 9</strong><br>
					|Haedo	
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/industrial", alt="imagen")
				.caption
					<strong>Proyecto 10</strong><br>
					|La Boca	
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/social", alt="imagen")
				.caption
					<strong>Proyecto 11</strong><br>
					|Ranelagh 2
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/lava", alt="imagen")
				.caption
					<strong>Proyecto 12</strong><br>
					|Recoleta 2
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/vine", alt="imagen")
				.caption
					<strong>Proyecto 13</strong><br>
					|Rosario 2
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/industrial", alt="imagen")
				.caption
					<strong>Proyecto 14</strong><br>
					|Mar Del Plata 2
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/sky", alt="imagen")
				.caption
					<strong>Proyecto 15</strong><br>
					|Haedo 2
		.col-xs-6.col-md-2
			.thumbnail
				img(data-src="holder.js/100%x100/social", alt="imagen")
				.caption
					<strong>Proyecto 16</strong><br>
					|La Boca 2	