doctype html
html
	head
		title Arquitecto Ignacio Puente
		//-link(rel='stylesheet', href='/stylesheets/bootstrap-custom.css')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		| <style>
		| body { padding-top: 77px; }
		| </style>
		script(src='/javascripts/jquery.min.js')
	body
		include header

		div.container
			block content
		
		//- script(src='/javascripts/holder.js')
