doctype html
html
	head
		title Arquitecto Ignacio Puente
		link(rel='stylesheet', href='/stylesheets/bootstrap-custom.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		| <style>
		| body { padding-top: 77px; }
		| </style>
	body
		include header

		div.container
			block content

		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/holder.js')
